@font-face{
    src: url('/font/Nexa Bold.otf');
    font-family: 'Nexa Bold';
}
@font-face{
    src: url('/font/Nexa Light.otf');
    font-family: 'Nexa Light';
}
@font-face{
    src: url('/font/Proxima Nova Bold.otf');
    font-family: 'Proxima Bold';
}
@font-face{
    src: url('/font/ProximaNova-Regular.otf');
    font-family: 'Proxima Regular';
}